@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  display: inline-block;
  cursor: pointer;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.page {
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.h1 {
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.h2 {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .h2 {
    font-size: 36px;
    line-height: 1.17;
  }
}

.h3 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
@media screen and (min-width: 768px) {
  .page-header__container {
    padding: 0 15px;
  }
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 30px 20px;
  background-color: #ffffff;
  transform: translate(100%, 0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  overflow: hidden;
}
@media screen and (min-width: 376px) {
  .mobile-menu {
    padding: 48px 40px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translate(0, 0);
}

.mobile-menu__nav-list {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-menu__nav-item {
  margin-bottom: 32px;
}
.mobile-menu__nav-item:last-child {
  margin-bottom: 0;
}

.mobile-menu__nav-link {
  color: #212121;
}
.mobile-menu__nav-link--active {
  color: #2196f3;
}

.mobile-menu__contact-list {
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__contact-item {
  margin-bottom: 32px;
}
.mobile-menu__contact-item:last-child {
  margin-bottom: 0;
}
.mobile-menu__contact-item:first-child .mobile-menu__contact-link {
  font-size: 24px;
  color: #2196f3;
}
@media screen and (min-width: 376px) {
  .mobile-menu__contact-item:first-child .mobile-menu__contact-link {
    font-size: 34px;
  }
}

.mobile-menu__contact-link {
  color: #757575;
}

.mobile-menu__social-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 376px) {
  .mobile-menu__social-list {
    font-size: 18px;
  }
}

.mobile-menu__social-item:not(:last-child)::after {
  content: "";
  margin-left: 10px;
  position: absolute;
  width: 0;
  height: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (min-width: 376px) {
  .mobile-menu__social-item:not(:last-child)::after {
    height: 22px;
  }
}

.mobile-menu__social-link {
  color: #2196f3;
}

.mobile-menu__icon {
  display: block;
  padding: 0;
  background-color: transparent;
  border: none;
  transform: rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), --color3 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .mobile-menu__icon {
    display: none;
  }
}
.mobile-menu__icon.is-open {
  transform: rotate(90deg);
}
.mobile-menu__icon .mobile-menu__icon--close {
  display: none;
}
.mobile-menu__icon.is-open .mobile-menu__icon--close {
  display: block;
}
.mobile-menu__icon.is-open .mobile-menu__icon--open {
  display: none;
}
.mobile-menu__icon:hover, .mobile-menu__icon:focus {
  -\-color3: #2196f3;
}

.menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.page-header__menu {
  margin-left: 88px;
}
@media screen and (min-width: 1200px) {
  .page-header__menu {
    margin-left: 93px;
  }
}

.nav__list {
  display: flex;
  gap: 50px;
}

.nav__link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--active::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 4px;
  /* width: calc(100% + 4px); */
  /* left: -2px; */
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

.contact-list__item:first-child {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .contact-list__item:first-child {
    margin-bottom: 0;
  }
}

.contact-list__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contact-list__link {
    font-size: 14px;
    line-height: 1.14;
  }
}
.contact-list__link:hover, .contact-list__link:focus {
  color: #2196f3;
}

.contact-list__logo {
  margin-right: 10px;
  width: 14px;
  height: 14px;
  --color2: currentColor;
}
@media screen and (min-width: 1200px) {
  .contact-list__logo {
    width: 16px;
    height: 16px;
  }
}

.logo {
  font-family: "Railway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__prepend {
  color: #2196f3;
}

.button {
  min-width: 200px;
  padding: 10px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__logo {
  margin-left: 10px;
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

.social-list {
  display: flex;
  gap: 10px;
}

.social-list__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #757575;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link {
  border-radius: 50%;
}

.social-list__circle:hover,
.social-list__link:focus .social-list__circle {
  color: #ffffff;
  background-color: #2196f3;
}

.social-list__logo {
  --color1: currentColor;
}

.hero {
  padding: 0;
  color: #ffffff;
}

.hero__img {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 400px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-480@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-480@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .hero__img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-480@3x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero__img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-768@1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-768@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero__img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-768@3x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__img {
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-1600@1x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-1600@2x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero__img {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-1600@3x.jpg");
  }
}

.hero__container {
  padding: 118px 15px;
}
@media screen and (min-width: 1200px) {
  .hero__container {
    padding: 200px 252px;
  }
}

.hero__h1 {
  display: block;
  max-width: 360px;
  margin: 0 auto;
  font-size: 26px;
  line-height: 1.62;
}
@media screen and (min-width: 1200px) {
  .hero__h1 {
    max-width: none;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: block;
  margin: 30px auto 0 auto;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.features__container {
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .features__container {
    max-width: none;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .features__container {
    width: 1200px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .features__item {
    min-width: 290px;
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}

.features__logo {
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__icon {
  display: block;
  margin: 0 auto;
}

.features__h3 {
  text-transform: uppercase;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}

.our-work {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .our-work {
    display: block;
  }
}

.our-work__list {
  display: flex;
  min-width: 1170px;
}

.our-work__item {
  position: relative;
  margin-right: 30px;
  width: 370px;
}

.our-work__item:last-child {
  margin-right: 0;
}

.our-work__image {
  display: block;
}

.our-work__title {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-work__h3 {
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
}

.team__container {
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .team__container {
    max-width: none;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .team__container {
    width: 1200px;
  }
}

.team__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
}

.team__item {
  padding-bottom: 30px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .team__item {
    width: 100%;
    min-width: 290px;
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__img {
  display: block;
}
@media screen and (max-width: 767px) {
  .team__img {
    width: 100%;
    height: auto;
    min-width: 290px;
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
  }
}

.team__h3 {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__post {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__social-list {
  display: flex;
  justify-content: center;
}

.clients__container {
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .clients__container {
    max-width: none;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__container {
    width: 1200px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  color: #757575;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .clients__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.clients__logo {
  --color1: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 4;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.backdrop.is-hidden .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -20%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 30px);
  max-width: 450px;
  height: 581px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 528px;
    padding: 40px;
  }
}

.modal__h2 {
  margin-bottom: 12px;
  font-size: 10px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 376px) {
  .modal__h2 {
    font-size: 20px;
  }
}

/* Кнопка .close */
.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.btn-close__logo {
  --color5: #000000;
}

.btn-close:hover .btn-close__logo,
.btn-close:focus .btn-close__logo {
  -\-color5: #2196f3;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form__label-name {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
}

.contact-form__label {
  position: relative;
  margin-bottom: 10px;
}

.contact-form__area {
  margin-bottom: 20px;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), --color3 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__logo {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
}

.contact-form__comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__comment::placeholder {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__button {
  margin: 30px auto 0 auto;
  padding: 10px 52px;
}

.contact-form__input:hover,
.contact-form__input:focus,
.contact-form__comment:hover,
.contact-form__comment:focus {
  outline: 0;
  border: 1px solid #2196f3;
}

.contact-form__input:hover + .contact-form__logo,
.contact-form__input:focus + .contact-form__logo {
  -\-color3: #2196f3;
}

.block-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 24px;
}

.block-checkbox__checkbox-mod {
  position: relative;
  min-width: 16px;
  min-height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block-checkbox__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block-checkbox__checkbox-mod:hover,
.block-checkbox__checkbox:focus + .block-checkbox__checkbox-mod {
  border-color: #2196f3;
}

.block-checkbox__checkbox:checked:focus + .block-checkbox__checkbox-mod {
  outline: 1px solid black;
}

.block-checkbox__checkbox:checked + .block-checkbox__checkbox-mod {
  /* background-image: url(../images/icon-check.svg); */
  /* background-origin: border-box; */
  /* background-size: contain; */
  background-color: #2196f3;
  border: 2px solid #2196f3;
}

.block-checkbox__checkbox:checked + .block-checkbox__checkbox-mod .block-checkbox__logo {
  transform: translate(-50%, -50%);
}

.block-checkbox__label {
  margin-left: 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .block-checkbox__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.block-checkbox__link {
  color: #2196f3;
  border-bottom: 1px solid #2196f3;
}

.subscribe {
  width: 100%;
  min-width: 290px;
  max-width: 450px;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    min-width: 570px;
  }
}

.subscribe__h3 {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .subscribe__h3 {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: flex;
  }
}

.subscribe__input {
  width: 100%;
  min-width: 290px;
  max-width: 450px;
  height: 50px;
  padding-left: 16px;
  color: #ffffff;
  background-color: #2f303a;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    min-width: 358px;
  }
}
.subscribe__input:hover, .subscribe__input:focus {
  outline: 1px solid #2196f3;
  border-color: #2196f3;
}

.subscribe__input:placeholder-shown {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;
}
@media screen and (min-width: 1200px) {
  .subscribe__button {
    margin-top: 0;
    margin-left: 12px;
    margin-right: 0;
  }
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .page-footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    max-width: none;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    width: 1200px;
  }
}

/* Контакти */
.contacts {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .contacts {
    text-align: start;
  }
}

.contacts__logo {
  color: #ffffff;
}

/* Адреса */
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.contacts__address {
  margin-top: 20px;
}

.address__item {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item {
    margin-bottom: 9px;
  }
}

.address__item:last-child {
  margin: 0;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address__link--white {
  color: #ffffff;
}

/* Приєднуйтесь */
.page-footer__join-in {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .page-footer__join-in {
    margin-top: 5px;
    margin-left: 160px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__join-in {
    margin-top: 12px;
    margin-left: 70px;
  }
}

.join-in__h3 {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .join-in__h3 {
    text-align: start;
  }
}

.join-in__social-list .social-list__circle {
  color: #ffffff;
}

.page-footer__subscribe {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .page-footer__subscribe {
    margin-top: 12px;
    margin-left: 115px;
  }
}

.page-footer__h3 {
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */