:root {
  --primary-text-color: #757575;
  --sec-text-color: #212121;
  --bg-color: #ffffff;
  --team-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
  --sec-bg-color: #2f303a;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  display: inline-block;
  cursor: pointer;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  background-color: var(--bg-color);
  margin-left: auto;
  margin-right: auto;

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
}

/* Logo */

.logo {
  font-family: 'Railway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logo__prepend {
  color: var(--accent-color);
}

/* Nav */

.nav {
  margin-left: 93px;
}

.nav__list,
.contact-list {
  display: flex;
  flex-wrap: wrap;
}

.nav__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--sec-text-color);

  transition: color 250ms var(--cubic);
}

.nav__link--active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* left: -2px; */
  /* width: calc(100% + 4px); */
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link,
.contact-list__link {
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__item:last-child .nav__link,
.contact-list__item:last-child .contact-list__link {
  margin-right: 0;
}

.contact-list {
  margin-left: auto;
}

.contact-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms var(--cubic);
}

.contact-list__logo {
  margin-right: 10px;
  --color2: currentColor;
}

.nav__link:hover,
.nav__link:focus,
.contact-list__link:hover,
.contact-list__link:focus {
  color: var(--accent-color);
}

/* Секція Герой */

.hero {
  padding: 0;

  color: var(--bg-color);
  text-align: center;
}

.hero__img {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--sec-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 252px;
  padding-right: 252px;
}

.h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  min-width: 200px;
  padding: 10px 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--bg-color);
  background-color: var(--accent-color);
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--cubic);
}

.hero__button {
  margin: 30px auto 0 auto;

  padding: 10px 32px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color-hover);
}

/* Секція Особливості */

.features__list {
  display: flex;
  align-items: flex-start;
}

.features__item {
  width: 270px;
  margin-right: 30px;
}

.features__item:last-child {
  margin-right: 0;
}

.features__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--team-bg-color);
  border-radius: 4px;
}

.features__icon {
  display: block;
}

.h2,
.h3 {
  color: var(--sec-text-color);
}

.h2 {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.h3 {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.features__h3 {
  text-transform: uppercase;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}

/* Секція Our-work */

.our-work {
  padding-top: 0;
}

.our-work__list {
  display: flex;
}

.our-work__item {
  position: relative;
  margin-right: 30px;

  width: 370px;
}

.our-work__item:last-child {
  margin-right: 0;
}

.our-work__image {
  display: block;
}

.our-work__title {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

.our-work__h3 {
  margin: 0;

  color: var(--bg-color);
  text-transform: uppercase;
}

/* Секція Команда */

.team {
  background-color: var(--team-bg-color);
}

.team__list {
  display: flex;
}

.team__item {
  padding-bottom: 30px;
  margin-right: 30px;
  width: 270px;
  background-color: var(--bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:last-child {
  margin: 0;
}

.team__img {
  display: block;
}

.team__h3 {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__post {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Соціальні мережі */
.social-list {
  display: flex;
}

.team__social-list {
  margin-left: 32px;
}

.social-list__item {
  margin-right: 10px;
}

.social-list__item:last-child {
  margin-right: 0;
}

.social-list__circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  color: var(--primary-text-color);
  border-radius: 50%;

  transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
}

.social-list__link {
  border-radius: 50%;
}

.social-list__circle:hover,
.social-list__link:focus .social-list__circle {
  color: var(--bg-color);
  background-color: var(--accent-color);
}

.social-list__logo {
  --color1: currentColor;
}

/* Клієнти */

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__item {
  margin-right: 30px;
}

.clients__item:last-child() {
  margin-right: 0;
}

.clients__link {
  display: block;

  width: 170px;
  height: 92px;
  padding: 16px 32px;

  color: var(--primary-text-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color 250ms var(--cubic), border-color 250ms var(--cubic);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__logo {
  --color1: currentColor;
}

/* Футер */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--sec-bg-color);
}

.page-footer__container {
  display: flex;
}

/* Контакти */

.contacts__logo {
  display: block;

  color: var(--bg-color);
}

/* Адреса */

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.contacts__address {
  margin-top: 20px;
}

.address__item {
  margin-bottom: 9px;
}

.address__item:last-child {
  margin: 0;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--cubic);
}

.address__link--white {
  color: var(--bg-color);
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

/* Приєднуйтесь */

.page-footer__join-in {
  margin-top: 12px;
  margin-left: 70px;
}

.join-in__h3,
.subscribe__h3 {
  color: var(--bg-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.join-in__social-list .social-list__circle {
  color: var(--bg-color);
}

/* Підпишись */

.page-footer__subscribe {
  margin-top: 12px;
  margin-left: 93px;
}

.subscribe__form {
  display: flex;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  color: var(--bg-color);
  background-color: var(--sec-bg-color);
  outline: 1px solid rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  transition: border-color 250ms var(--cubic);
}

.subscribe__input:hover,
.subscribe__input:focus {
  outline: 1px solid var(--accent-color);
  border-color: var(--accent-color);
}

.subscribe__input:placeholder-shown {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 28px;
  margin-left: 12px;
}

.button__logo {
  margin-left: 10px;
}

/* Бекдроп */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.backdrop.is-hidden .modal {
  position: absolute;
  top: 50%;
  left: 50%;

  opacity: 0;
  transform: translate(-50%, -20%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--bg-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;

  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__h2 {
  margin-bottom: 12px;

  padding: 0;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Кнопка .close */

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.btn-close__logo {
  --color5: #000000;
}

.btn-close:hover .btn-close__logo,
.btn-close:focus .btn-close__logo {
  --color5: var(--accent-color);
}

/* Форма */

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form__label-name {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
}

.contact-form__label {
  position: relative;
  margin-bottom: 10px;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms var(--cubic), --color3 250ms var(--cubic);
}

.contact-form__logo {
  position: absolute;
  top: 50%;
  left: 13px;

  transform: translateY(-50%);
}

.contact-form__comment {
  display: block;

  width: 100%;
  height: 120px;
  margin-bottom: 20px;

  padding: 12px 16px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms var(--cubic);
}

.contact-form__comment:placeholder-shown {
  margin-bottom: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.contact-form__input:hover,
.contact-form__input:focus,
.contact-form__comment:hover,
.contact-form__comment:focus {
  outline: 0;
  border: 1px solid var(--accent-color);
}

.contact-form__input:hover + .contact-form__logo,
.contact-form__input:focus + .contact-form__logo {
  --color3: var(--accent-color);
}

/* Чекбокс */

.block-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 24px;
}

.block-checkbox__checkbox-mod {
  position: relative;

  width: 16px;
  height: 15px;

  border: 2px solid var(--sec-text-color);
  border-radius: 2px;

  transition: border 250ms var(--cubic), background-color 250ms var(--cubic);
}

.block-checkbox__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);

  transition: transform 250ms var(--cubic);
}

.block-checkbox__checkbox-mod:hover,
.block-checkbox__checkbox:focus + .block-checkbox__checkbox-mod {
  border-color: var(--accent-color);
}

.block-checkbox__checkbox:checked:focus + .block-checkbox__checkbox-mod {
  outline: 1px solid black;
}

.block-checkbox__checkbox:checked + .block-checkbox__checkbox-mod {
  /* background-image: url(../images/icon-check.svg); */
  /* background-origin: border-box; */
  /* background-size: contain; */
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.block-checkbox__checkbox:checked + .block-checkbox__checkbox-mod .block-checkbox__logo {
  transform: translate(-50%, -50%);
}

.block-checkbox__label {
  margin-left: 7px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.block-checkbox__link {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.contact-form__button {
  margin: 30px auto 0 auto;

  padding: 10px 52px;
}

/* Портфоліо */

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-list .item {
  margin-right: 8px;
}

.btn-list .item:last-child {
  margin-right: 0;
}

.section.works button {
  padding: 6px 22px;
  background-color: var(--team-bg-color);
  color: var(--sec-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: 0;
  border-radius: 4px;
  letter-spacing: 0.03em;

  transition-property: background-color color box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section.works button:hover,
.section.works button:focus {
  background-color: var(--accent-color);
  color: var(--bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-list {
  display: flex;
  flex-wrap: wrap;
}

.works-list img {
  display: block;
}

.works-list .item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works-list .item:hover,
.works-list .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-list .overlay,
.works-list .item-content {
  padding: 20px 24px;
}

.works-list .item-img {
  position: relative;
  overflow: hidden;
}

.works-list .overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 150, 243, 0.9);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works-list .overlay p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--bg-color);
}

.works-list .item:hover .overlay,
.works-list .item:focus .overlay {
  transform: translateY(0);
}

.works-list .item-content {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.works-list .item:nth-child(3n) {
  margin-right: 0;
}

.works-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.works-list .h2 {
  margin-bottom: 4px;
  padding-bottom: 0;
  color: var(--sec-bg-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.works-list p {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
