:root {
  --primary-text-color: #757575;
  --sec-text-color: #212121;
  --bg-color: #ffffff;
  --team-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --sec-bg-color: #2f303a;
}

.page {
  background-color: var(--bg-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--sec-text-color);
}

ul {
  list-style: none;
}

/* Шапка */

.link.logo {
  color: var(--accent-color);

  font-family: 'Railway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.nav-logo {
  color: #000000;
}

.nav.link a {
  color: var(--sec-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav.link a:hover,
.nav.link a:focus {
  color: var(--accent-color);
}

.nav .active.link {
  color: var(--accent-color);
}

.contact.link a {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact.link a:hover,
.contact.link a:focus {
  color: var(--accent-color);
}

.link:hover {
  color: var(--accent-color);
}

/* Секція Герой */

.hero {
  background-color: var(--sec-bg-color);
  color: var(--bg-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero button {
  background-color: var(--accent-color);
  color: var(--bg-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.h2-title,
.h3-title {
  color: var(--sec-text-color);
}

.h2-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.h3-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.features .h3-title {
  text-transform: uppercase;
}

.features p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Команда */

.team {
  background-color: var(--team-bg-color);
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Футер */

.footer {
  background-color: var(--sec-bg-color);
}

address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address.logo {
  color: var(--bg-color);
}

.address a {
  color: rgba(255, 255, 255, 0.6);
}

.map.link {
  color: var(--bg-color);
}

.address.link a:hover,
.address.link a:focus {
  color: var(--accent-color);
}

/* Портфоліо */

button {
  cursor: pointer;

  background-color: var(--team-bg-color);
  color: var(--sec-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

button:hover {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.works .h2-title {
  color: var(--sec-bg-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.works p {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
