:root {
  --primary-text-color: #757575;
  --sec-text-color: #212121;
  --bg-color: #ffffff;
  --team-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --sec-bg-color: #2f303a;
}

.page {
  background-color: var(--bg-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--sec-text-color);
}

ul,
li {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid #ececec;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

header .container {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Шапка */

.link.logo {
  color: var(--accent-color);

  font-family: 'Railway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.nav-logo {
  color: #000000;
}

.nav.link,
.contact.link {
  display: flex;
}

.nav.link a,
.contact.link a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}

.contact.link a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact.link svg {
  margin-right: 10px;
  --color2: currentColor;
}

.nav.link li:last-child a,
.contact.link li:last-child a {
  margin-right: 0;
}

.contact.link {
  margin-left: auto;
}

.nav.link a {
  color: var(--sec-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav.link a:hover,
.nav.link a:focus {
  color: var(--accent-color);
}

.nav.link a {
  position: relative;
}

.nav .active.link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -2px;

  width: calc(100% + 4px);
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact.link a {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact.link a:hover,
.contact.link a:focus {
  color: var(--accent-color);
}

/* Секція Герой */

.hero {
  padding: 0;
  color: var(--bg-color);
  text-align: center;
}

.img-hero {
  background-color: var(--sec-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 252px;
  padding-right: 252px;
  max-width: 1170px;
  height: 600px;
}

.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
}

.hero button {
  cursor: pointer;

  margin-top: 30px;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--bg-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  border: 0;
  border-radius: 4px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero button:hover,
.hero button:focus {
  background-color: var(--bg-color);
  color: var(--accent-color);
}

/* Особливості */

.section.features {
  padding-bottom: 0;
}

.feature-list {
  display: flex;
  align-items: flex-start;
}

.feature-list .item-logo {
  padding-top: 25px;
  /* padding-bottom: 25px; */
  height: 120px;
  background-color: var(--team-bg-color);
  margin-bottom: 30px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
}

.feature-list .item {
  width: 270px;
  margin-right: 30px;
}

.feature-list :last-child {
  margin-right: 0;
}

.h2-title,
.h3-title {
  color: var(--sec-text-color);
}

.h2-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  padding-bottom: 50px;
}

.h3-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.features .h3-title {
  text-transform: uppercase;
}

.features p {
  font-size: 14px;
  line-height: 1.71;
}

/* our-work */

.our-work-list {
  display: flex;
}

.our-work-list img {
  display: block;
}

.our-work-list .item {
  position: relative;

  width: 370px;
  margin-right: 30px;
}

.our-work-list .item div {
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-work-list h3 {
  text-transform: uppercase;
  color: var(--bg-color);
  margin: 0;
}

.our-work-list .item:last-child {
  margin-right: 0;
}

/* Команда */

.team {
  background-color: var(--team-bg-color);
}

.team h3 {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team-list {
  display: flex;
}

.team-list li {
  padding-bottom: 30px;
}

.team-list img {
  display: block;
}

.team-list .item {
  width: 270px;
  margin-right: 30px;
  background-color: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item:last-child {
  margin: 0;
}

.team-list .social-list {
  margin-left: 32px;
}

.team-list .social-list li {
  padding-bottom: 0;
}

.team-list .social-list div {
  color: var(--primary-text-color);

  transition-property: color background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list .social-list div:hover,
.team-list .social-list div:focus {
  color: var(--bg-color);
  background-color: var(--accent-color);
}

.team-list .social-list svg {
  --color1: currentColor;
}

/* Клієнти */

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-list li {
  margin-right: 30px;
}

.clients-list li:last-child() {
  margin-right: 0;
}

.clients-list a {
  color: var(--primary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list a:hover,
.clients-list a:focus {
  color: var(--accent-color);
}

.our-clients div {
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: color border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients div:hover,
.our-clients div:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-list svg {
  --color1: currentColor;
}

/* Футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--sec-bg-color);
}

.footer .container {
  display: flex;
}

.footer .link.logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
}

.address.link li {
  margin-bottom: 9px;
}

.address.link li:last-child {
  margin: 0;
}

address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.address.logo {
  color: var(--bg-color);
}

.address a {
  color: rgba(255, 255, 255, 0.6);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.map.link {
  color: var(--bg-color);
}

.address.link a:hover,
.address.link a:focus {
  color: var(--accent-color);
}

.join-in {
  margin-top: 12px;
  margin-bottom: 20px;
  margin-left: 70px;
}

.join-in .h3-title {
  color: var(--bg-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.social-list {
  display: flex;
}

.social-list li {
  margin-right: 10px;
}

.social-list li:last-child {
  margin-right: 0;
}

.social-list div {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list div:hover,
.social-list div:focus {
  background-color: var(--accent-color);
}

.join-in .social-list svg {
  --color1: var(--bg-color);
}

/* Портфоліо */

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-list .item {
  margin-right: 8px;
}

.btn-list .item:last-child {
  margin-right: 0;
}

.section.works button {
  cursor: pointer;

  padding: 6px 22px;
  background-color: var(--team-bg-color);
  color: var(--sec-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: 0;
  border-radius: 4px;
  letter-spacing: 0.03em;

  transition-property: background-color color box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section.works button:hover,
.section.works button:focus {
  background-color: var(--accent-color);
  color: var(--bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-list {
  display: flex;
  flex-wrap: wrap;
}

.works-list img {
  display: block;
}

.works-list .item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works-list .item:hover,
.works-list .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-list .overlay,
.works-list .item-content {
  padding: 20px 24px;
}

.works-list .item-img {
  position: relative;
  overflow: hidden;
}

.works-list .overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 150, 243, 0.9);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works-list .overlay p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--bg-color);
}

.works-list .item:hover .overlay {
  transform: translateY(0);
}

.works-list .item-content {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.works-list .item:nth-child(3n) {
  margin-right: 0;
}

.works-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.works-list .h2-title {
  margin-bottom: 4px;
  padding-bottom: 0;
  color: var(--sec-bg-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.works-list p {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  position: absolute;
  top: 50%;
  left: 50%;

  opacity: 0;
  transform: translate(-50%, -20%);
}

.backdrop .modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;

  background-color: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  opacity: 1;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
  cursor: pointer;

  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close svg {
  --color5: #000000;
}
