:root {
  --primary-text-color: #757575;
  --sec-text-color: #212121;
  --bg-color: #ffffff;
  --team-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --sec-bg-color: #2f303a;
}

.page {
  background-color: var(--bg-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--sec-text-color);
}

ul,
li {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

ul {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Шапка */

.link.logo {
  color: var(--accent-color);

  font-family: 'Railway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.nav-logo {
  color: #000000;
}

.nav.link,
.contact.link {
  display: flex;
}

.nav.link a,
.contact.link a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}

.nav.link li:last-child a,
.contact.link li:last-child a {
  margin-right: 0;
}

.contact.link {
  margin-left: auto;
}

.nav.link a {
  color: var(--sec-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav.link a:hover,
.nav.link a:focus {
  color: var(--accent-color);
}

.nav .active.link {
  color: var(--accent-color);
}

.contact.link a {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact.link a:hover,
.contact.link a:focus {
  color: var(--accent-color);
}

.link:hover {
  color: var(--accent-color);
}

/* Секція Герой */

.hero .container {
  padding-top: 106px;
  padding-bottom: 106px;
  padding-left: 252px;
  padding-right: 252px;
}

.hero {
  background-color: var(--sec-bg-color);
  color: var(--bg-color);
  text-align: center;
}

.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
}

.hero button {
  margin-top: 30px;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--bg-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Особливості */

.section.features h2 {
  display: none;
}

.section.features {
  padding-bottom: 0;
}

.feature-list {
  display: flex;
  align-items: flex-start;
}

.feature-list .item {
  width: 270px;
  margin-right: 30px;
}

.feature-list :last-child {
  margin-right: 0;
}

.h2-title,
.h3-title {
  color: var(--sec-text-color);
}

.h2-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  padding-bottom: 50px;
}

.h3-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.features .h3-title {
  text-transform: uppercase;
}

.features p {
  font-size: 14px;
  line-height: 1.71;
}

/* our-work */

.our-work-list {
  display: flex;
}

.our-work-list img {
  display: block;
}

.our-work-list .item {
  width: 370px;
  margin-right: 30px;
}

.our-work-list .item:last-child {
  margin-right: 0;
}

/* Команда */

.team {
  background-color: var(--team-bg-color);
}

.team h3 {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list {
  display: flex;
}

.team-list .item {
  width: 270px;
  margin-right: 30px;

  border-radius: 0px 0px 4px 4px;
}

.team-list .item:last-child {
  margin: 0;
}

/* Футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--sec-bg-color);
}

.footer .link.logo {
  display: block;
  margin-bottom: 20px;
}

.address.link li {
  margin-bottom: 9px;
}

.address.link li:last-child {
  margin: 0;
}

address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.address.logo {
  color: var(--bg-color);
}

.address a {
  /* display: block; */
  color: rgba(255, 255, 255, 0.6);
}

.map.link {
  color: var(--bg-color);
}

.address.link a:hover,
.address.link a:focus {
  color: var(--accent-color);
}

/* Портфоліо */

/* .section.works .container {
  background-color: teal;
} */

.works h1 {
  display: none;
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-list .item {
  margin-right: 8px;
}

.btn-list .item:last-child {
  margin-right: 0;
}

button {
  cursor: pointer;

  padding: 6px 22px;
  background-color: var(--team-bg-color);
  color: var(--sec-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: 0;
  border-radius: 4px;
}

button:hover {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.works-list {
  display: flex;
  flex-wrap: wrap;
}

.works-list .item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;

  border-bottom: 1px solid #eeeeee;
}

.works-list .item div {
  margin: 20px 24px;
}

.works-list .item:nth-child(3n) {
  margin-right: 0;
}

.works-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.works-list .h2-title {
  margin-top: 20px;
  margin-bottom: 4px;
  padding-bottom: 0;
  color: var(--sec-bg-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.works-list p {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
