.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
}

/* Nav */

.nav {
  margin-left: 93px;
}

.nav__list,
.contact-list {
  display: flex;
}

.nav__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $sec-text-color;

  transition: color 250ms $cubic;
}

.nav__link--active::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  /* left: -2px; */
  /* width: calc(100% + 4px); */
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
}

.contact-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link,
.contact-list__link {
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__item:last-child .nav__link,
.contact-list__item:last-child .contact-list__link {
  margin-right: 0;
}

.contact-list {
  margin-left: auto;
}

.contact-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;

  transition: color 250ms $cubic;
}

.contact-list__logo {
  margin-right: 10px;
  --color2: currentColor;
}

.nav__link:hover,
.nav__link:focus,
.contact-list__link:hover,
.contact-list__link:focus {
  color: $accent-color;
}
