.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form__label-name {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
}

.contact-form__label {
  position: relative;
  margin-bottom: 10px;
}

.contact-form__area {
  margin-bottom: 20px;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms $cubic, --color3 250ms $cubic;
}

.contact-form__logo {
  position: absolute;
  top: 50%;
  left: 13px;

  transform: translateY(-50%);
}

.contact-form__comment {
  display: block;

  width: 100%;
  height: 120px;

  padding: 12px 16px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms $cubic;
}

.contact-form__comment:placeholder-shown {
  margin-bottom: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.contact-form__button {
  margin: 30px auto 0 auto;

  padding: 10px 52px;
}

.contact-form__input:hover,
.contact-form__input:focus,
.contact-form__comment:hover,
.contact-form__comment:focus {
  outline: 0;
  border: 1px solid $accent-color;
}

.contact-form__input:hover + .contact-form__logo,
.contact-form__input:focus + .contact-form__logo {
  --color3: $accent-color;
}

.block-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 24px;
}

.block-checkbox__checkbox-mod {
  position: relative;

  width: 16px;
  height: 15px;

  border: 2px solid $sec-text-color;
  border-radius: 2px;

  transition: border 250ms $cubic, background-color 250ms $cubic;
}

.block-checkbox__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);

  transition: transform 250ms $cubic;
}

.block-checkbox__checkbox-mod:hover,
.block-checkbox__checkbox:focus + .block-checkbox__checkbox-mod {
  border-color: $accent-color;
}

.block-checkbox__checkbox:checked:focus + .block-checkbox__checkbox-mod {
  outline: 1px solid black;
}

.block-checkbox__checkbox:checked + .block-checkbox__checkbox-mod {
  /* background-image: url(../images/icon-check.svg); */
  /* background-origin: border-box; */
  /* background-size: contain; */
  background-color: $accent-color;
  border: 2px solid $accent-color;
}

.block-checkbox__checkbox:checked + .block-checkbox__checkbox-mod .block-checkbox__logo {
  transform: translate(-50%, -50%);
}

.block-checkbox__label {
  margin-left: 7px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.block-checkbox__link {
  color: $accent-color;
  border-bottom: 1px solid $accent-color;
}
