.menu {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }
}

.page-header__menu {
  margin-left: 88px;

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
