.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100vh;
  padding: 30px 20px;

  background-color: $bg-color;

  transform: translate(100%, 0);
  transition: transform 250ms $cubic;

  z-index: 2;
  overflow: hidden;

  @media screen and (min-width: 376px) {
    padding: 48px 40px;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translate(0, 0);
}

.mobile-menu__nav-list {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-menu__nav-item {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.mobile-menu__nav-link {
  color: $sec-text-color;

  &--active {
    color: $accent-color;
  }
}

.mobile-menu__contact-list {
  margin-bottom: 64px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $primary-text-color;
}

.mobile-menu__contact-item {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  &:first-child .mobile-menu__contact-link {
    font-size: 24px;
    color: $accent-color;

    @media screen and (min-width: 376px) {
      font-size: 34px;
    }
  }
}

.mobile-menu__contact-link {
  color: #757575;
}

.mobile-menu__social-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  @media screen and (min-width: 376px) {
    font-size: 18px;
  }
}

.mobile-menu__social-item {
  &:not(:last-child)::after {
    content: '';
    margin-left: 10px;
    position: absolute;

    width: 0;
    height: 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
  }

  @media screen and (min-width: 376px) {
    &:not(:last-child)::after {
      height: 22px;
    }
  }
}

.mobile-menu__social-link {
  color: $accent-color;
}

// Кнопка Бургер

.mobile-menu__icon {
  display: block;

  padding: 0;

  background-color: transparent;
  border: none;

  transform: rotate(0deg);
  transition: transform 250ms $cubic, --color3 250ms $cubic;

  z-index: 3;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &.is-open {
    transform: rotate(90deg);
  }

  & .mobile-menu__icon--close {
    display: none;
  }

  &.is-open .mobile-menu__icon--close {
    display: block;
  }

  &.is-open .mobile-menu__icon--open {
    display: none;
  }

  &:hover,
  &:focus {
    -\-color3: $accent-color;
  }
}
