.our-work {
  padding-top: 0;
}

.our-work__list {
  display: flex;
}

.our-work__item {
  position: relative;
  margin-right: 30px;

  width: 370px;
}

.our-work__item:last-child {
  margin-right: 0;
}

.our-work__image {
  display: block;
}

.our-work__title {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

.our-work__h3 {
  margin: 0;

  color: $bg-color;
  text-transform: uppercase;
}
