.features__container {
  max-width: 480px;

  @media screen and (min-width: 768px) {
    max-width: none;
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
}

.features__item {
  @media screen and (max-width: 767px) {
    min-width: 290px;
    max-width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features__logo {
  margin-bottom: 30px;

  padding-top: 25px;
  padding-bottom: 25px;

  background-color: $team-bg-color;
  border-radius: 4px;
}

.features__icon {
  display: block;
  margin: 0 auto;
}

.features__h3 {
  text-transform: uppercase;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}
