.clients__container {
  max-width: 480px;

  @media screen and (min-width: 768px) {
    max-width: none;
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 92px;

  color: $primary-text-color;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color 250ms $cubic, border-color 250ms $cubic;

  @media screen and (max-width: 767px) {
    width: 210px;
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.clients__logo {
  --color1: currentColor;
}
