.team {
  background-color: $team-bg-color;
}

.team__list {
  display: flex;
}

.team__item {
  margin-right: 30px;

  padding-bottom: 30px;
  width: 270px;

  background-color: $bg-color;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:last-child {
  margin: 0;
}

.team__img {
  display: block;
}

.team__h3 {
  margin-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__post {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__social-list {
  margin-left: 32px;
}
